* {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

body {
  margin: 50px;
}

#users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.user {
  padding: 10px;
  text-align: center;
}

.img {
  border-radius: 50%;
}
